<h3 style="font-weight: 600; font-size: 38px;">{{viewTitle}}</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Number</th>
      <th>Amount Transfered</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.fullname}}</td>
      <td>{{this._id}}</td>
      <td>{{this.amount}}$</td>
      <td>{{this.time}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-secondary" href="/employee/list"><i class="fa fa-arrow-left"></i> Back</a>
<!--

"transaction": [{
        "fullname": "Debraj Kundu",
        "amount": "6000",
        "time": "2016-05-18T16:00:00Z"
    }],

-->